.container {
  max-width: 900px;
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  color: #222;
  font-family: 'Josefin Sans', sans-serif;
}
header {
  font-family: 'Abril Fatface', cursive;
  background-image: url('https://raw.githubusercontent.com/green-fox-academy/myfirstapp-syllabus/master/assets/first-website-header.png');
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  text-align: center;
  min-width: 600px;
  min-height: 215px;
  padding: 50px 50px 0 50px;
  position: relative;
  top: -8px;
  color: #222;
}
header h3 {
  font-size: 20px;
  margin: 0;
  position: absolute;
  left: 200px;
  bottom: 70px;
}
header h1 {
  margin: 0;
  position: absolute;
  left: 200px;
  bottom: 10px;
  font-size: 50px;
}
h4 {
  font-family: 'Merriweather', serif;
  font-size: 15px;
  font-style: italic;
}
blockquote {
  font-family: 'Abril Fatface', cursive;
  background-color: #6e6e6e;
  color: white;
  padding: 10px 30px 10px 30px;
  position: relative;
  font-size: 25px;
  margin-top: 50px;
  margin-bottom: 50px;
}
blockquote::before {
  content: '\201C';
  font-size: 100px;
  padding: 0;
  margin: 0;
  position: absolute;
  top: -20px;
  left: 3px;
  
}
ul {
  list-style-type: square;
}
.focim {
  text-transform: uppercase;
  margin: 0 0 50px 0;
  padding: 0;
  font-size: 24px;
}
h4 {
  margin: 0;
  padding: 0;
}
hr {
  border: 2px solid black;
  margin: 50px 0 50px 0;
}
ul li {
  padding: 5px;
}
h3 {
  margin: 35px 0 25px 0;
  font-size: 20px;
}
.alatta {
  margin-bottom: 0px;
}
.margin {
  margin-left: 100px;
  margin-right: 200px;
  margin-top: 50px;
}